<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.composition">
	<!-- resultMap 정의 -->
	<resultMap id="ChoiceInfo_ResultMap" type="ChoiceInfoVO">
		<result property="survey_id_num" column="survey_id_num" />
        <result property="question_id_num" column="question_id_num" />
        <result property="choice_num" column="choice_num" />
        <result property="choice_contents" column="choice_contents" />
        <result property="choice_file_path" column="choice_file_path" />
	</resultMap>
	<resultMap id="MatrixChoice_ResultMap" type="MatrixChoiceVO">
		<result property="question_id_num" column="question_id_num" />
        <result property="survey_id_num" column="survey_id_num" />
        <result property="choice_num" column="choice_num" />
        <result property="choice_contents" column="choice_contents" />
	</resultMap>
	<resultMap id="MatrixQuestion_ResultMap" type="MatrixQuestionVO">
		<result property="question_id_num" column="question_id_num" />
        <result property="survey_id_num" column="survey_id_num" />
        <result property="matrix_num" column="matrix_num" />
        <result property="matrix_contents" column="matrix_contents" />
	</resultMap>
	<resultMap id="MultipleChoice_ResultMap" type="MultipleChoiceVO">
		<result property="survey_id_num" column="survey_id_num" />
        <result property="question_id_num" column="question_id_num" />
        <result property="choice_description" column="choice_description" />
        <result property="choice_type" column="choice_type" />
        <result property="choice_count" column="choice_count" />
        <result property="is_other_choice" column="is_other_choice" />
        <result property="other_contents" column="other_contents" />
	</resultMap>
	<resultMap id="QuestionInfo_ResultMap" type="QuestionInfoVO">
		<result property="survey_id_num" column="survey_id_num" />
        <result property="page_num" column="page_num" />
        <result property="question_id_num" column="question_id_num" />
        <result property="question_type" column="question_type" />
        <result property="question_contents" column="question_contents" />
        <result property="is_required_response" column="is_required_response" />
        <result property="min_multiple_choice" column="min_multiple_choice" />
        <result property="max_multiple_choice" column="max_multiple_choice" />
	</resultMap>
	<resultMap id="SubjectiveChoice_ResultMap" type="SubjectiveChoiceVO">
		<result property="survey_id_num" column="survey_id_num" />
        <result property="question_id_num" column="question_id_num" />
        <result property="is_personal_info" column="is_personal_info" />
        <result property="is_duplicate" column="is_duplicate" />
        <result property="choice_contents" column="choice_contents" />
	</resultMap>
    <!-- 쿼리문 -->
  	<insert id="insertChoiceInfo"  parameterType="ChoiceInfoVO">
		<![CDATA[
		 insert into choice_info 
		 (
		 	survey_id_num, 
		 	question_id_num, 
		 	choice_num, 
		 	choice_contents, 
		 	choice_file_path
		 )
		 values
		 (
		 	#{survey_id_num}, 
		 	#{question_id_num}, 
		 	#{choice_num}, 
		 	#{choice_contents}, 
		 	#{choice_file_path}
		 )
		]]>      
	</insert>
	<insert id="insertMatrixChoice"  parameterType="MatrixChoiceVO">
		<![CDATA[
		 insert into matrix_choice
		 (
		 	question_id_num, 
		 	survey_id_num, 
		 	choice_num, 
		 	choice_contents
		 )
		 values
		 (
		 	#{question_id_num}, 
		 	#{survey_id_num}, 
		 	#{choice_num}, 
		 	#{choice_contents}
		 )
		]]>      
	</insert>
	<insert id="insertMatrixQuestion"  parameterType="MatrixQuestionVO">
		<![CDATA[
		 insert into matrix_question
		 (
		 	question_id_num, 
		 	survey_id_num, 
		 	matrix_num, 
		 	matrix_contents
		 )
		 values
		 (
		 	#{question_id_num}, 
		 	#{survey_id_num}, 
		 	#{matrix_num}, 
		 	#{matrix_contents}
		 )
		]]>      
	</insert>
	<insert id="insertMultipleChoice"  parameterType="MultipleChoiceVO">
		<![CDATA[
		 insert into multiple_choice
		 (
		 	survey_id_num,
		 	question_id_num, 
		 	choice_description, 
		 	choice_type,
		 	choice_count,
		 	is_other_choice,
		 	other_contents
		 )
		 values
		 (
		 	#{survey_id_num}, 
		 	#{question_id_num}, 
		 	#{choice_description}, 
		 	#{choice_type},
		 	#{choice_count},
		 	#{is_other_choice},
		 	#{other_contents}
		 )
		]]>      
	</insert>
	<insert id="insertQuestionInfo"  parameterType="QuestionInfoVO">
		<![CDATA[
		 insert into question_info
		 (
		 	survey_id_num,
		 	page_num, 
		 	question_id_num,
		 	question_type,
		 	question_contents, 
		 	is_required_response,
		 	min_multiple_choice, 
		 	max_multiple_choice
		 )
		 values
		 (
		 	#{survey_id_num}, 
		 	#{page_num}, 
		 	#{question_id_num},
		 	#{question_type}, 
		 	#{question_contents}, 
		 	#{is_required_response},
		 	#{min_multiple_choice},  
		 	#{max_multiple_choice}
		 )
		]]>      
	</insert>
	<insert id="insertSubjectiveChoice"  parameterType="SubjectiveChoiceVO">
		<![CDATA[
		 insert into subjective_choice
		 (
		 	survey_id_num,
		 	question_id_num, 
		 	is_personal_info, 
		 	is_duplicate,
		 	choice_contents
		 )
		 values
		 (
		 	#{survey_id_num}, 
		 	#{question_id_num}, 
		 	#{is_personal_info}, 
		 	#{is_duplicate},
		 	#{choice_contents}
		 )
		]]>      
	</insert>
</mapper>